.view{
    display: grid;
    grid-template-rows: 15vh 1fr;
    width: 92vw;
    margin-left: 2vw;

    input{
        margin-top: 3vh;
        width: 92vw;
        height: 6vh;
        border-radius: 5px;
        border: 1px solid #827F7F;
    }
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.styled-table th, .styled-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.styled-table th {
    font-weight: bold;
}

.id{
    color: #f5b38e;
}