.flex{
  display: flex;
  padding-top: 20vh;
  justify-content: center;
  align-items: center;
}

.logo{
  font-weight: 900;
  font-size: 30px;

  span{
    color: #f5b38e;
  }
}

.logo_big{
  display: flex;
  font-weight: 900;
  font-size: 40px;
  padding: 2vh 2vw;

  span{
    color: #f5b38e;
  }
}

.layout{
  padding-top: 13vh;
}

.main{
  padding: 2vh 2vw;
}

.flexbox{
  display: grid;
  grid-template-columns: 16vw 1fr;
}